name: Build, Push Docker & Deploy to EC2

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Set up Java
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Build JAR
      - name: Build JAR
        run: mvn -B package -DskipTests --file StudentManagement/pom.xml

      # Create Dockerfile
      - name: Create Dockerfile
        run: |
          echo 'FROM eclipse-temurin:17-jdk' > Dockerfile
          echo 'WORKDIR /app' >> Dockerfile
          echo 'COPY StudentManagement/target/*.jar app.jar' >> Dockerfile
          echo 'EXPOSE 8086' >> Dockerfile
          echo 'ENTRYPOINT ["java", "-jar", "app.jar"]' >> Dockerfile

      # Login to Docker Hub
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build Docker Image
      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/student-management:latest .

      # Push Docker Image
      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/student-management:latest

      # Copy key for SSH
      - name: Copy SSH key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > private_key.pem
          chmod 600 private_key.pem

      # Deploy to EC2
      - name: SSH into EC2 & deploy
        run: |
          ssh -o StrictHostKeyChecking=no -i private_key.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'

          # Stop and remove running container
          docker stop student || true
          docker rm student || true

          # Remove old images BEFORE pulling the new one
          docker image prune -a -f

          # Pull latest image
          docker pull ${{ secrets.DOCKER_USERNAME }}/student-management:latest

          # Run new container
          docker run -d \
            --name student \
            -p 8086:8086 \
            ${{ secrets.DOCKER_USERNAME }}/student-management:latest

          EOF
